@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600;700&display=swap");

body {
  font-family: "Comfortaa","Century Gothic",system-ui,sans-serif;
  background-color: rgb(249 250 251); /* gray-50 */
  color: rgb(17 24 39); /* gray-900 */
}
